---
import TitleSection from '../components/TitleSection.astro'
import BlockText from '../components/BlockText.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title='About Us'>
  <TitleSection title='About Us' />

  <BlockText>
    <p>
      Welcome to The Turkish Kitchen! We are a dedicated team of food
      enthusiasts with a passion for traditional Turkish cuisine. Our mission is
      to bring the authentic flavors of Turkey to your home, making it easy for
      you to create delicious meals for your family and friends.
    </p>
    <p>
      Founded in 2023, our online store offers a wide range of premium quality
      ingredients, cookware, and recipe ideas, carefully curated to help you
      enjoy the best of Turkish cooking. We take great pride in our selection,
      ensuring that our products meet the highest standards of taste, quality,
      and authenticity.
    </p>
    <p>
      Our team is always on the lookout for new and exciting additions to our
      range, so you can expect to find innovative products and culinary
      inspirations from every corner of Turkey. We believe that the joy of
      cooking comes from experimentation and exploration, and we are committed
      to providing you with the tools and knowledge you need to create
      unforgettable dishes.
    </p>
    <p>
      Thank you for choosing The Turkish Kitchen, and we hope you enjoy your
      culinary journey with us. <em>Afiyet olsun!</em>
    </p>
  </BlockText>
</BaseLayout>
