---
export interface Props {
  backgroundImage?: string
  title?: string
  subtitle?: string
  includeCta?: boolean
  ctaLabel?: string
}

const {
  backgroundImage = '',
  title = 'Discover the Rich Flavors of Authentic Turkish Cuisine',
  subtitle = 'Explore our handpicked selection of recipes, cookbooks, and essential kitchen tools to experience the taste of Turkey right at home!',
  includeCta = true,
  ctaLabel = 'Get Started'
} = Astro.props
---

<section
  class={`bg-cover bg-center h-screen relative`}
  style={`background-image: url(${backgroundImage});`}
>
  <div class='absolute inset-0 bg-black opacity-80 z-10'></div>
  <div
    class='container mx-auto px-4 h-full flex items-center justify-center text-center'
  >
    <div class='text-white max-w-2xl z-20'>
      <h1 class='text-4xl md:text-6xl mb-4 font-logo'>{title}</h1>
      <p class='text-lg md:text-2xl mb-6'>{subtitle}</p>
      {
        includeCta && (
          <button class='bg-primary hover:bg-secondary text-white font-bold py-2 px-4 rounded'>
            {ctaLabel}
          </button>
        )
      }
    </div>
  </div>
</section>
